body {
    /* background-color: #000; */
    margin: 0;
    padding: 0;
    background-image: url("../img/blue-grid-mosaic.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
}

* {
    box-sizing: border-box;
}

.items-menu, .textos-varios{
  font-size: 12px;
}

.lista-estudiantes{
  padding-left: 0.75rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0rem;
  font-size: 2.5vh;
}

#logoCarmelo{
  width: 23%;
  float: left;
  background: none;
  border: none;
}

.titulos-textos{
font-size: 6vh;
}

#titulo{
  float: right;
  margin-right: 4%;
  color: #cbcbcb;
  /* font-size: 44px; */
  font-style: oblique;
}
.botones{
 color: #fff;
 background-color: #060606;
}
.jumbotron {
   background-color: #030303;
   margin-bottom: 0.25em;
   margin-top: 0.25em;
   padding: 0.25em;
   width: 100%;
   height: 50px;
}

#fondo{
  max-width: 71%;
}
.nav-link{
  color: white;
}
#estudiantesTitulo, #profesoresTitulo{
  background-color: #997341;
  height: 31px;
  padding: 1%;
  text-align: center;
  margin-bottom: 10px;
}
#estudiantesLetra, #profesoresLetra{
  color: white;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top:0.5%;
    border: solid 1px #000000;
    background-color: #f6f6a5;
}

.btn-menu-secundario {
    width: 32%;
    height: 30px;
    margin-left: 1%
}

#visorSecundario {
  padding-top: 1em;
  min-height: 0em;

}

.titulares{
  font-size: 20px;
  padding-top: -10px;
}
.col-splash{
    min-height: 30em;
    padding-top: 5%;
}

.alert-estudiante, .alert-profe {
    cursor: pointer;
}

.alert-estudiante:hover {
    color: coral;
    background-color: blanchedalmond;
}

.alert-profe:hover {
    color: crimson;
    background-color:darkcyan;
}

/*
Preguntar cantidad de docentes. En caso de ser màs de 6 se debe implementar esa regla al elemento
listaProfe
*/

#listaEstudiantes {
    height: 11em;
    overflow-y: scroll;
}

#divBtnSecundaria {
    display: none;
}

#nombreEstudiante{
 font-size: 1.2rem;
}

.botonesEstudiantes{
  font-size: 14px;
  padding: 0%;
  }

.textosLargos{
  height: 11em;
  overflow-y: scroll;
  font-size: 12px;
  margin-top: -13px;
  }


.btn-activo {
    background-color: bisque;
    font-weight: bold;
}

.btn-inactivo {
    background-color: transparent;
    font-weight: normal;
}



/* Estilo scroll */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Fin del estilo scroll ------------------ */


.col-info-cole {
    padding: 2em;
    padding-top: 0em;
    background-color: #f6f6a5;
}
#mainVisor{
  height: 225px;
  height: 14em;
  overflow-y: scroll;
}

.botones-imgenes{
  height: 26px;
}

.titulos{
  font-size: 6vh;
}

.col-menu-photos {
height: 14em;
padding-top: 2em;
}

.menu-opt-camera {
    cursor: pointer;
    width: 46%;
}
